/* background: #FAF9F6 */
/* text color: #303030 */
body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #191414;  */
    background-color: #FAF9F6; 
    color: #303030;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

h1{
    margin-bottom: 0;
}
.subtitle{
    margin-top: 0;
    margin-bottom: 0;
}

.subheading{
    padding-left: 2rem;
    margin-bottom: 0;
}
p{
    margin-top: 0;
    padding-left: 2rem;
    max-width: 80%;
}
div{
    padding-top: 0.5%;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #303030;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}