/* FOOTER STYLING */

/* styling colors and positioning of footer */
footer{
    background-color:#B1A296; 
    position: fixed; 
    left: 0; 
    bottom: 0; 
    text-align: center; 
    width: 100%;
    color: #ffffff
}

/* making footer have two different colors */
.footer-bg{
    background-color: #557A95;
}

