/* FOOTER STYLING */

/* styling colors and positioning of footer */
footer{
    background-color:#ffe66d; 
    position: fixed; 
    left: 0; 
    bottom: 0; 
    text-align: center; 
    width: 100%;
    color: #f7fff7;
}

/* making footer have two different colors */
.footer-bg{
    background-color: #ff6b6b;
}

